@import "tailwindcss";

body {
  margin: 0;
  line-height: inherit;
  background: var(--color-gray-100);
  font-family: var(--font-poppins);
}

@theme {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-poppins);
  --outline-color: var(--color-gray-200);
  --color-primary: #7EBF28;
  --color-dark: #171717;
  --color-neutral-200: #EAEAEA;
  --color-gray-100: #F8F8F8;
  --color-gray-200: #EAEAEA;
  --color-gray-300: #D4D4D4;
  --color-gray-400: #B8B8B8;
  --color-gray-500: #9C9C9C;
  --color-gray-600: #7F7F7F;
  --color-gray-700: #636363;
  --color-gray-800: #454545;
  --color-gray-900: #2E2E2E;
  --color-green-100: #E6F5D0;
  --color-green-200: #D2EBAD;
  --color-green-300: #B7DB7D;
  --color-green-400: #9ECA53;
  --color-green-500: #88BA36;
  --color-green-600: var(--color-primary);
  --color-green-700: #6EA523;
  --color-green-800: #5D8A1E;
  --color-green-900: #446514;

  --color-red-200: #FF6F61;
  --color-red-900: #D32F2F;

  --color-black: var(--color-dark);
  --color-white: #FFFFFFFF;

  --color-light-vanilla: #D2C49F;
  --color-vanilla: #BDAB7B;
  --color-dark-vanilla: #AA955E;

  --color-rackley: #5B87A4;
  --color-dark-rackley: #477593;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1520px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1520px;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 40px;

  --text-xs: 12px;
  --text-xs--line-height: 16px;

  --text-sm: 14px;
  --text-sm--line-height: 20px;

  --text-base: 16px;
  --text-base--line-height: 24px;

  --text-lg: 18px;
  --text-lg--line-height: 26px;

  --text-xl: 20px;
  --text-xl--line-height: 28px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --text-3xl: 32px;
  --text-3xl--line-height: 40px;

  --text-4xl: 40px;
  --text-4xl--line-height: 48px;

  --text-5xl: 48px;
  --text-5xl--line-height: 56px;

  --text-6xl: 56px;
  --text-6xl--line-height: 64px;

  --text-7xl: 64px;
  --text-7xl--line-height: 82px;

  --text-8xl: 76px;
  --text-8xl--line-height: 84px;

  --text-9xl: 96px;
  --text-9xl--line-height: 104px;

  --text-10xl: 128px;
  --text-10xl--line-height: 136px;

}
.container {
  @apply mx-auto px-4;
}

.top-content-badge{
  @apply  bg-green-600/20 text-green-800 text-xs lg:text-base font-medium px-2 lg:px-4 py-1 lg:py-1.5 rounded-full block w-fit mb-3;
}
.text-40{
font-size: 40px;
}
.btn-tn-arrow {
  .btn-tn-arrow-round {
    .btn-tn-arrow-1 {
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
    }
    .btn-tn-arrow-2 {
      position: absolute;
      transform: translate(-160%, 0%);
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
    }
  }
  &:hover {
    .btn-tn-arrow-round {
      .btn-tn-arrow-1 {
        transform: translate(160%, 0%);
      }
      .btn-tn-arrow-2 {
        transform: translate(0, 0);
      }
    }
  }
}

.btn-tn {
  &:hover {
    .btn-tn-lable-1 {
      transform: translate(0%, -160%);
    }
    .btn-tn-lable-2 {
      transform: translate(0, 0);
    }
  }
  .btn-tn-lable-1 {
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
  }
  .btn-tn-lable-2 {
    transform: translate(0%, 160%);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
  }
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  &.swiper-button-disabled {
    @apply cursor-not-allowed opacity-40;
  }
}
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }
}

.swiper-custome-button{
  &.swiper-button-disabled {
    @apply cursor-not-allowed opacity-40;
  }
}

.roundbutton-hilop {
  .roundbutton-arrow-1 {
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
  }
  .roundbutton-arrow-2 {
    transform: translate(-180%, 0%);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
  }
  &:hover {
    .roundbutton-arrow-1 {
      transform: translate(180%, 0%);
    }
    .roundbutton-arrow-2 {
      transform: translate(0, 0);
    }
  }
  &.swiper-button-disabled{
    &:hover {
      .roundbutton-arrow-1 {
        transform: none !important;
        transition: none !important;
      }
      .roundbutton-arrow-2 {
        transform: translate(-180%, 0%);
      }
    }
    .roundbutton-arrow-1 {
      transform: none !important;
      transition: none !important;
    }
    .roundbutton-arrow-2 {
      transform: translate(-180%, 0%);
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.1, 1);
    }
  }
}

.social-icon{
  @apply w-12 h-12 rounded-full flex items-center justify-center bg-green-100 text-green-800;
}

.bg-greenleaf{
  background-image: url('/images/banner.jpg');
}